.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}

.row h1{
    width: 100%;
}

.card {
    flex: 0 0 33%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: .75rem;
    background-color: #f0f0f0;
    text-align: center;
    border: 1px solid #06bd71;
    border-radius: 4px;
}

.card > img {
    margin-bottom: .75rem;
    border-radius: 100px;
}

.card-text {
    font-size: 85%;
}