<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>初识vue</title>

</head>

<body>

    <div class="event">
        <!-- 标签的内容引用Vue对象（插值语法）：使用两组花括号包裹引用Vue对象属性中的数据或者是一个js表达式
            （这个表达式只允许使用Vue对象属性，使用其他的属性变量会报错，表达式返回一个值），
            注意当然前提是当前标签是Vue对象管理的容器内部  -->
        <!-- 标签的属性引用Vue对象（指令语法）：使用v-bind:单向绑定标签属性（或者直接简写为:绑定属性），
            值可以直接使用Vue对象属性中的数据或者是一个js表达式
            （这个表达式只允许使用Vue对象属性，使用其他的属性变量会报错，表达式返回一个值），
            当Vue对象属性中的数据发生变化时与数据绑定的标签属性也会变化，但是反过来当属性发送变化时Vue对象属性中的数据不会变化
         -->
        <div>hello <a v-bind:href="url">{{name}}</a></div>
        <!-- 标签的属性引用Vue对象（指令语法）：使用v-bind:绑定属性（或者直接简写为:绑定属性），
            值使用Vue对象属性中的数据并且调用JS的函数转大写 -->
        <div v-bind:xyx="xyx.toUpperCase()"></div>


        <div v-text="h3Text">这里的内容会被v-text的属性当成文本（即使文本是html）替换</div>
        <!-- 注意一定不能使用用户的任何输入或者是数据库中的数据当成html解析，会引起XSS攻击 -->
        <div v-html="h3Html">这里的内容会被v-html的属性当成html解析替换</div>
        <!-- 例如以下是使用用户的任何输入或者是数据库中的数据当成html解析,
            当用户已经登录后如果点击该链接会向该链接的服务器发送已经登录的Cookie，从而盗走用户的Cookie -->
        <!-- Cookie设置HttpOnly可以有效的防止Cookie被盗走 -->
        <div v-html='xssa'>这里的内容会被v-html的属性当成html解析替换</div>

        <!-- 当Vue的js库引入速度慢的时候会出现模板还没有来得及渲染完毕就显示在页面上了，例如显示{{name}} -->
        <!-- 添加v-cloak属性配合css一起使用会直接隐藏带有v-cloak的标签，当Vue的js引入后生成真实DOM时会去除标签中的v-cloak属性从而显示渲染好的模板  -->
        <!-- <style> [v-cloak]{ display:none}</style> -->
        <div v-cloak>{{name}}</div>


        <!-- v-once指定的节点在初次动态的渲染后被认为是静态内容，不会再发生变化了 -->
        <div v-once>x的初始值是{{x}}</div>
        <div>当前的x值是{{x}}</div>
        <button @click="x++">点我x+1</button>
        <!-- 添加v-pre后Vue跳过了该标签的编译，所以该标签Vue无法影响 -->
        <div v-pre>x的初始值是{{x}}，由于添加了v-pre所以Vue跳过了该标签的编译，所以该标签Vue无法影响</div>

        <!-- 标签的属性引用Vue对象（指令语法）：
            使用v-model:双向绑定标签属性（或者直接简写为v-model省略value，因为v-model:双向绑定标签属性只能用在表单类具有输入的标签上的value属性）,
            值可以直接使用Vue对象属性中的数据或者是一个js表达式
            （这个表达式只允许使用Vue对象属性，使用其他的属性变量会报错，表达式返回一个值），
            当Vue对象属性中的数据发生变化时与数据绑定的标签属性也会变化，反过来当属性发送变化时Vue对象属性中的数据也会变化
         -->
        <div>请输入英雄名称 <input type="text" v-model:value="name"> </div>


        <!--标签的属性引用Vue对象（指令语法）：
            使用v-on:绑定事件函数（或者直接简写为@）,  
            如果不传递参数就是默认携带Event参数，但是一旦传递了参数，需要使用$event传递参数
        -->
        <button v-on:click="showSkill($event)">显示技能信息</button>



        <!-- 自定义指令 -->
        <div>当前的m值是{{m}}</div>
        <div>自定义指令v-big实现m放大10倍的值是<span v-big="m"></span></div>
        <button @click="m++">点我m+1</button>
        <div>当m发生变化时以下自定义的v-fbind指令所在的input标签会自动获取标签</div>
        <input type="text" v-fbind:value="m">


        <!-- prevent取消浏览器对当前事件的默认行为，比如a标签的跳转，并且还可以重定向到其他的事件函数 -->
        <a v-bind:href="url" @click.prevent="showBackground($event)">a标签链接是指向英雄图片，但是点击事件会被阻止，重定向到其他的事件函数</a>

        <!-- stop禁止在子元素与父元素重叠的部分触发事件时触发父元素事件，而是只触发子元素 -->
        <div>以下背景点击左边出现原英雄皮肤，点击右边出现无畏号墨菲特皮肤</div>
        <div @click="showImg" style="width: 100%;height: 500px;background-color: green;position: relative;">
            <div @click.stop="showWuweihaoImg($event)"
                style="width: 50%;height: 500px;background-color: red;position: absolute;left: 50%;"></div>
        </div>

        <!-- once只有第一次事件触发时调用事件函数，之后的点击不会触发
        -->
        <button @click.once="showSkill($event)">弹窗显示技能信息，并且只有第一次点击生效</button>

        <!-- 当触发子元素事件时会同时触发父元素事件，默认是先触发父元素事件然后触发子元素事件，capture会让父元素事件先触发然后触发子元素事件 -->
        <div @click.capture="testlog(1)" style="width: 300px;height: 300px;background-color: green;">
            点击父元素出现1
            <div @click="testlog(2)" style="width: 100px;height: 100px;background-color: red;">
                点击子元素出现2
            </div>
        </div>

        <!-- 当触发子元素事件时会同时触发父元素事件，默认是先触发父元素事件然后触发子元素事件，self禁止其他元素的事件触发当前元素的事件
             如下子元素事件部分触发父元素事件
        -->
        <div @click.self="testlog(3)" style="width: 300px;height: 300px;background-color: rgb(14, 152, 232);">
            点击父元素出现3
            <div @click="testlog(4)" style="width: 100px;height: 100px;background-color: red;">
                点击子元素出现4
            </div>
        </div>

        <!-- 以上prevent、stop、once、capture、self是可以在一个标签中连着使用 -->
        <div @click="testlog(1)" style="width: 300px;height: 300px;background-color: rgb(188, 75, 253);">
            点击父元素出现1
            <a v-bind:href="url"
                @click.prevent.stop="showBackground($event)">a标签链接是指向英雄图片，但是点击事件会被阻止，重定向到其他的事件函数，并且禁止父元素事件的触发</a>
        </div>

        <!-- 键盘输入事件，enter代表当按下回车才会触发事件
            delete代表按下delete或Backspace退格键
            esc代表按下esc退出键
            space代表按下空格键
            tab代表换行键，特殊按键会将焦点切换到其他元素上使用keyup无法正常工作，需要使用keydown
            up代表上
            down代表下
            left代表左
            right代表右
            caps-lock代表大小写切换键
            .分割代表组合键，例如ctrl.y代表Ctrl+y
            一些键如果不知道请使用事件event.key获取按键的名称，然后全部转小写使用中划线分割
            但是仍然有一些按键是无法使用的比如F1这些键
        -->
        <input type="text" @keyup.enter="testKeyup" placeholder="键盘事件敲下回车键盘松开时控制台打印输出的信息" style="width: 100%;">

    </div>

    <div class="computedV">
        <div>
            姓：<input type="text" v-model="firstName"><br /><br />
            名：<input type="text" v-model="lastName"><br /><br />
            姓名：<span>{{fullName}}</span><br /><br />
            姓名：<span>{{fullName}}</span>
        </div>
    </div>

    <!-- class值不能是watch和watchV -->
    <div class="watchVm">

        <h1>今天天气很{{info}}</h1>
        <button @click="changeWeather">切换天气</button>
        <h1>a的值是{{numbers.a}}</h1>
        <button @click="numbers.a++">点我a+1</button>
        <h1>b的值是{{numbers.b}}</h1>
        <button @click="numbers.b++">点我b+1</button>
    </div>

    <div class="classAndcssVm">
        <!-- 绑定class可以绑定相应的css样式 -->
        <!-- 单个class绑定 -->
        <div class="basic" :class="a">元素变化的部分class是{{a}}</div>
        <button @click="changeMod">点击切换元素的部分class</button>

        <!-- 绑定一组class，个数和class的名称不确定时使用 -->
        <div class="basic" :class="classarr">元素变化的部分class是{{classarr}}</div>
        <button @click="changeModClassarr">点击切换元素的部分class</button>

        <!-- 绑定一组class，class的名称确定，不确定是否使用指定class时使用 -->
        <div class="basic" :class="classobj">元素变化的部分class是{{classobj}}</div>
        <button @click="changeModClassobj">点击切换元素的部分class</button>

        <!-- 绑定一组css样式 -->
        <div class="basic" :style="styleobj">元素变化的部分css是{{styleobj}}</div>
        <button @click="changeModStyleobj">点击切换元素的部分css</button>


        <!-- vue拥有v-show和v-if等判断标签是否显示 -->
        <div v-show="true">v-show的属性是true就显示，false就不显示</div>

        <h1>n的值是{{n}}</h1>
        <button @click="n++">点我n+1</button>
        <!-- v-if和v-else-if的值都是一个布尔值，如果是true就显示标签，否则就不显示 -->
        <!-- v-if与v-else-if、v-else不能被其他的标签分隔开 -->
        <!-- template标签和v-if一起使用不会破坏DOM结构最终在页面上不会显示出来 -->
        <!-- template标签不能配合v-show一起使用 -->
        <template>
            <div v-if="n===1">n=1时显示Angular</div>
            <div v-else-if="n===2">n=2时显示React</div>
            <div v-else-if="n===3">n=3时显示Vue</div>
            <div v-else>如果n不等于1、2、3、就显示哈哈</div>
        </template>
    </div>
    <div class="listRenderingVm">
        <h3>姓名和年龄数字列表遍历</h3>
        <input type="text" placeholder="请输入姓名" v-model="keyWord">
        <button @click="sortType=1">按年龄升序排列</button>
        <button @click="sortType=2">按年龄降序排列</button>
        <button @click="sortType=0">按年龄原顺序排列</button>
        <button @click=updatepersons>点击将马冬梅替换成马老师</button>
        <ul>
            <!-- 数组遍历 -->
            <!-- 列表中的p in filPersons 代表对vue中的filPersons属性遍历，key需要绑定列表中的唯一标识ID，并且key必须要有 -->
            <!-- 如果是(a,b) in filPersons 也代表对vue中的filPersons属性遍历不过多的第二个参数是filPersons属性的index -->
            <!-- 如果不写key的绑定默认绑定index，注意使用filPersons属性的index作为key则在已有列表中除了末尾之外插入数据是会导致后面的数据错乱 -->
            <!-- 使用p of filPersons 也可以遍历vue中的filPersons属性 -->
            <li v-for="p in filPersons" :key="p.id">姓名：{{p.name}}，年龄：{{p.age}}，性别：{{p.sex}}</li>
        </ul>
        <h3>汽车对象信息遍历</h3>
        <ul>
            <!-- 对象属性遍历 -->
            <!-- 如果是(value,key) in car也代表对vue中的car属性遍历-->
            <!-- 注意第一个参数是对象的值，第二个参数是对象的属性名称 -->
            <li v-for="(value,key) in car">{{value}}:{{key}}</li>
        </ul>
        <div>姓名：{{student.name}}，性别：{{student.sex}}</div>
        <button @click=addAge>点击添加显示年龄</button>
        <div v-if="student.age">年龄：{{student.age}}</div>
        <h3>爱好</h3>
        <ul>
            <!-- 数组遍历 -->
            <li v-for="h in student.hobby">{{h}}</li>
        </ul>
        <button @click=updatehobby>点击将篮球替换成乒乓球</button>
    </div>


    <div class="buttonFormVm">
        <form @submit.prevent="demo"> <!--表单提交弹窗弹窗提交的信息-->
            账号：<input type="text" v-model.trim="userInfo.account"> <br /><br /> <!--输入的内容默认去除首尾的空格-->
            密码：<input type="password" v-model="userInfo.password"><br /><br /> <!--输入的密码隐藏-->
            年龄：<input type="number" v-model.number="userInfo.age"><br /><br /> <!--数字类型的输入绑定-->
            性别：
            男<input type="radio" name="sex" v-model="userInfo.sex" value="男"> <!--注意单选或多选需要输入的值时需要添加默认的输入value-->
            女<input type="radio" name="sex" v-model="userInfo.sex" value="女"><br /><br />
            爱好：
            学习<input type="checkbox" v-model="userInfo.happy" value="学习"> <!--注意多选需要输入的值时需要添加默认的输入value-->
            打游戏<input type="checkbox" v-model="userInfo.happy" value="打游戏"> <!--并且多选绑定的vue数据属性必须是数组-->
            吃饭<input type="checkbox" v-model="userInfo.happy" value="吃饭">
            <br /><br />
            所属校区：
            <select v-model="userInfo.city"> <!--注意下拉框根据绑定的vue属性值选择value-->
                <option value="">请选择校区</option>
                <option value="beijing">北京</option>
                <option value="shanghai">上海</option>
                <option value="guangzhuo">广州</option>
                <option value="shenzhen">深圳</option>
                <option value="wuhan">武汉</option>
            </select><br /><br />
            其他信息：<textarea v-model.lazy="userInfo.other"></textarea> <br /><br /> <!--输入框失去焦点时vue绑定输入的值-->
            <input type="checkbox" v-model="userInfo.agree">阅读并接受<a href="url">《用户协议》</a>
            <!--注意单选仅需要知道是否选择时可以不用添加默认的输入value-->
            <button>提交</button> <!--表单提交默认会跳转页面-->
        </form>
    </div>
    <div class="timeVm">
        <!-- 过滤器和Linux命令行的管道符相似，都是将管道符前的标准输出当成管道符后的标准输入 -->
        <!-- 过滤器并没有改变原始VM中的数据，并且在标签属性上只能使用v-bind单项绑定使用过滤器，而无法使用v-model双向绑定使用过滤器 -->
        <h3>现在的时间格式化后是：{{time | timeFormater("YYYY-MM-DD HH:mm:ss")}}</h3>
        <h3>现在的时间格式化后的年月日是：{{time | timeFormater | timeFormaterDate}}</h3>
    </div>
    <div class="lifeCycleVm">
        <!-- 注意这里的{opacity}是简写，原来的css应该是{opacity:1}，由于与vm中的属性名称一致所有可以简写 -->
        <h3 :style="{opacity}">欢迎学习Vue</h3>
        <button @click="stop">点我停止变化</button>
    </div>

    <!-- 单文件组件和非单文件组件都是下列例子 -->
    <div class="NonSingleFileComponentVm">
    </div>

    <div class="singleFileComponentVm">
        <App></App>
    </div>


    <script type="text/javascript" src="./js/vue.js"></script> <!-- 引入vue库 -->
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/dayjs/1.11.7/dayjs.min.js"></script>
    <!-- 时间转换库-->
    <script type="text/javascript" src="./js/event.js"></script> <!-- vue的事件操作 -->
    <script type="text/javascript" src="./js/computed.js"></script> <!-- vue的计算属性 -->
    <script type="text/javascript" src="./js/watch.js"></script> <!-- watch监视器 -->
    <script type="text/javascript" src="./js/classAndcss.js"></script> <!-- class和css样式绑定、条件渲染 -->
    <script type="text/javascript" src="./js/listRendering.js"></script> <!-- 列表渲染 -->
    <script type="text/javascript" src="./js/formButton.js"></script> <!-- 表单提交 -->
    <script type="text/javascript" src="./js/timeVm.js"></script> <!-- 过滤器 -->
    <script type="text/javascript" src="./js/lifeCycle.js"></script> <!-- Vm生命周期 -->
    <!-- <script type="text/javascript" src="./js/NonSingleFileComponent.js"></script> 非单文件组件 -->
    <script type="model" src="./vue/main.js"></script> <!-- 单文件组件 -->


</body>

</html>