.icon1{
    /* 长宽用于截取雪碧图的一部分 */
    width: 28px;
    height: 36px;
    background-image: url(../img/spriteChart.webp);
    border: 1px solid red;border-collapse: collapse;
    /* 控制整个雪碧图位置：
       第一个值是水平移动，正数代表向右移动，负数代表向左移动 
       第二个值是垂直移动，正数代表向下移动，负数代表向上移动 
       */
    background-position: 0px 0px;
}


.icon2{
    /* 长宽用于截取雪碧图的一部分 */
    width: 28px;
    height: 36px;
    background-image: url(../img/spriteChart.webp);
    border: 1px solid red;border-collapse: collapse;
    /* 控制整个雪碧图位置：
       第一个值是水平移动，正数代表向右移动，负数代表向左移动 
       第二个值是垂直移动，正数代表向下移动，负数代表向上移动 
       */
    background-position: -200px -39px;
}