/* 块级元素转行内元素 */
.css-text {display: inline-block}

/* 设置文本对齐方式：left、center、right*/
.align { text-align: center;}

/* 设置文本修饰：underline添加下划线、overline添加上划线、line-through添加文本删除线*/
.underline { text-decoration: underline;}
.overline { text-decoration: overline;}
.lineThrough { text-decoration: line-through;}

/* 设置文本大小写：capitalize设置文本的首字母大写、uppercase设置全部大写、lowercase设置全部小写 */
.capitalize { text-transform: capitalize;}
.uppercase { text-transform: uppercase;}
.lowercase { text-transform: lowercase;}

/* 设置文本缩进：使用像素单位缩进，负值代表左缩进 */
.indent { text-indent: 30px;}