/* 元素选择器：只对选择的标签生效 */
nav {color: green;}

/* 全局选择器：对页面的全部标签生效，但是优先级最低，在页面初始生效然后被高优先级的样式覆盖 */
* {font-size: 12px;}

/* 类选择器：根据标签的class属性选择标签生效，同一标签可以有多个class的属性但是要使用空格隔开 */
.page_head {color: blue;}
.size {font-size: 15px;}
.css-weight {color: #05f6c6; font-size: 20px;}

/* ID选择器：根据标签的id属性选择标签生效，但是对于一个页面只有第一个匹配的标签生效，其他匹配的标签不生效并且id的属性不能以数字开头 */
#text {color: red;font-size: 30px;}

/* 后代选择器：ul标签中的li标签的颜色是红色，不管里面套几层 */
ul li{color: red;}

/* 子代选择器：ul标签中子标签的class是progeny的标签颜色是绿色,只适用与ul标签的下一层标签 */
ul>.progeny{color: green;}

/* 兄弟选择器：选择与div标签相邻的class属性是brother的标签（专指div标签相邻的下一个标签而不包含上一个标签） */
div+.brother{color: blue;}

/* 通用兄弟选择器：选择与div标签之后的class属性是generalBrother的标签（专指div标签之后的全部匹配标签就算有其他标签隔开也会匹配，而不包含之前的标签） */
div~.generalBrother{color: yellow;}


/* 合并选择器：当有多个选择器的样式重复时可以使用逗号分隔选择器 */
.test01,.test02{ color: yellow; font-size: 20px;}

