li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* li:hover {
  background-color: #ddd;
} */

.item-container {
  display: flex;
  justify-content: space-between;
  border: 3px solid black;
  width: 500px;
  height: 30px;
}

.left-content{
  align-content: center;
}

.right-content {
  display: flex;
  gap: 5px; /* 按钮之间的间距 */
}

.btnEdit {
  color: rgb(55, 87, 250);
}

.btnDanger {
  color: red;
}





