.search{
    width: 33%;
    margin: 0 auto;
}

.searchInput {
    display: flex;
    width: 100%; /* 使容器填满父元素 */
}

.searchInput input {
    flex: 1; /* 使输入框占满剩余空间 */
    padding: 10px;
    box-sizing: border-box; /* 确保 padding 不会超出父容器的宽度 */
}

.searchInput button {
    padding: 10px 20px; /* 调整按钮内边距 */
    margin-left: 10px; /* 为按钮和输入框之间添加一些间距 */
    box-sizing: border-box; /* 确保 padding 不会超出按钮的宽度 */
}