.box {
    margin: auto;
    width: 350px;
    height: 24.44px;
    border: 3px solid black;
    position: relative;
  }
  
  .statistics {
    position: absolute;
    left: 0px;
    top: 0px;
  }
  
  .btn_danger {
    color: red;
    text-align: right;
    font-size: 12px;
    position: absolute;
    right: 0px;
    top: 0px;
  }