/* 设置字体大小，注意谷歌游览器最新只能设置12px */
.fontSize {font-size: 30px;}

/* 设置字体粗细：bold和bolder都是加粗（600以上都是这个效果），lighter设置细体(100~300都是这个效果)，正常字体是400~500*/
.fontBold {font-weight: bold;}
.fontBolder {font-weight: bolder;}
.fontLighter {font-weight: lighter;}
.fontWeightNum {font-weight: 1000;}

/* 设置字体样式是否是斜体：normal是正常字体，italic是斜体*/
.fontNormal {font-style: normal;}
.fontItalic {font-style: italic;}

/* 设置字体样式：微软雅黑和宋体*/
.fontFamilyYahei {font-family: "Microsoft Yahei";}
.fontFamilySongti {font-family: "宋体";}


/* 设置颜色：直接使用单词颜色、使用16进制的颜色、rgb设置颜色、rgba设置颜色和透明度*/
.fontColorRed {color: red;}
.fontColorHex {color: #0000ff;}
.fontColorRgb {color: rgb(0,255,0);}
.fontColorRgba {color: rgba(0,255,0,0.5);}


