/* 块级元素转行内元素 */
.css-background {display: inline-block}

/* 设置背景的颜色 */
.backgroundColor {width: 200px; height: 100px; background-color: green;}

/* 设置背景图片，默认是水平和垂直平铺 */
.backgroundImage {width: 400px; height: 300px; background-image: url(../img/xiao.jfif);}

/* 设置背景图片是否水平平铺 */
.backgroundImageRepeatX {width: 400px; height: 300px; background-image: url(../img/friedTofu.jfif); background-repeat: repeat-x;}

/* 设置背景图片是否垂直平铺 */
.backgroundImageRepeatY {width: 400px; height: 300px; background-image: url(../img/fruit.jfif); background-repeat: repeat-y;}

/* 设置背景图片不平铺 */
.backgroundImageNoRepeat {width: 400px; height: 300px; background-image: url(../img/KFC.jfif); background-repeat: no-repeat;}

/* 设置图片宽高占背景的大小 */
.backgroundImageSizeLength {width: 400px; height: 300px; background-image: url(../img/xiao.jfif); background-size: 300px auto; }

/* 设置图片宽高占背景的百分比 */
.backgroundImageSizePercentage {width: 400px; height: 300px; background-image: url(../img/xiao.jfif); background-size: auto 75%; }

/* 设置背景图片在不变型情况下的充满整个背景，可能图片会有裁剪*/
.backgroundImageSizeCover {width: 400px; height: 300px; background-image: url(../img/xiao.jfif); background-size: cover; }

/* 设置背景图片在不变型情况下尽可能的充满整个背景，图片可能不会占用整个背景会留下一些空白 */
.backgroundImageSizeContain {width: 400px; height: 300px; background-image: url(../img/xiao.jfif); background-size: contain; }

/* 设置背景图片的起始位置：第一个值设置左中右（left、center、right、百分比、具体的像素）、第二个值设置上中下（top、center、bottom、百分比、具体的像素） */
.backgroundImagePosition {width: 400px; height: 300px; background-image: url(../img/PermanentPrivate.jfif); background-position: right bottom;}