/* 块级元素转行内元素 */
.css3-new {
    display: inline-block
}


.css3BorderRadius {
    text-align: center;
    font-size: 18px;
    width: 200px;
    height: 200px;
    background-color: rgb(241, 198, 105);
    /* 圆角设置，可以设置1到4个值
       设置一个值：4个角的圆角都是这个值
       设置两个值：第一给值是左上角和右下角的圆角值，第二个值是右上角和左下角的圆角值
       设置三个值：第一给值是左上角的圆角值，第二个值是右上角和左下角的圆角值，第三个值是右下角的圆角值
       设置四个值：第一给值是左上角的圆角值，第二个值是右上角的圆角值，第三个值是右下角的圆角值，第四个值是左下角的圆角值
    */
    border-radius: 20px;
}

.css3Round{
    text-align: center;
    font-size: 18px;
    width: 200px;
    height: 200px;
    background-color: rgba(235, 77, 77, 0.97);
    border-radius: 100%;
}

.css3BoxShadow{
    margin: 50px;
    text-align: center;
    color: aliceblue;
    font-size: 18px;
    width: 100px;
    height: 100px;
    background-color: rgb(4, 216, 249);
    /* 阴影设置：第一个值设置水平方向阴影，正数向右移动，负数向左移动
       第二个值设置垂直方向阴影，正数向下移动，负数向上移动
       第三个值设置阴影模糊距离，
       第四个值设置阴影颜色
     */
    box-shadow: 20px 20px 50px rgb(249, 1, 1);
}