* {
    margin: 0px;
    padding: 0px;
    height: 2500px;
}

.test {
    height: 100px;
    background-color:#f66daa;  
    text-align: center;
    line-height: 100px;
    font-size: 60px;
}

.test1 {
    height: 100px;
    background-color:cadetblue;
    line-height: 100px;
    font-size: 40px;
    /* sticky粘性定位，当元素通过滚动条移动到距离拥有滚动条属性的元素一定距离后会之间定位在该位置，直到其他元素也通过粘性定位覆盖 */
    position: sticky;
    /* 粘性定位距离拥有滚动条属性元素的先边缘一定距离后会之间定位在该位置，同理 left、right、bottom也是一样 */
    top: 0px;
}

span {
    font-size: 25px;
    background-color:palegoldenrod; 
}