.test {
    width: 1000px;
    height: 600px;
    background-color: bisque;
    border: 2px magenta solid;
    /* flex */
    display: flex;
}

.test1 {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    background-color: yellowgreen;
}

.test2 {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    background-color: sandybrown;
}

.test3 {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    background-color: turquoise;
}